{% load django_tables2 %}
{% load i18n %}
{% load diode_filters %}

<table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
{% if table.show_header %}
<thead>
<tr>
    {% for column in table.columns %}
    {% if column.orderable %}
    <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
    {% else %}
    <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
    {% endif %}
    {% endfor %}
</tr>
</thead>
{% endif %}
<tbody>
{% for row in table.page.object_list|default:table.rows %}
<tr {{ row.attrs.as_html }}>
    {% for column, cell in row.items %}
    <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
    {% endfor %}
</tr>
<tr>
    <td colspan="{{ table.columns|length }}" style="padding: 0 !important;border: 0 !important;">
        <div class="tab-pane accordion-collapse collapse border-bottom" id="ingestion-log-{{ row.record.id }}">
            <div class="row p-3 pb-0">
                <div class="col col-6">
                    <div class="card">
                        <h2 class="card-header">{% trans "Ingested Entity" %}</h2>
                        <pre>{{ row.record.entity|proto_to_json }}</pre>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="card">
                        <h2 class="card-header">{% trans "Error" %}</h2>
                        {% if row.record.error.message != "" %}
                        <pre>{{ row.record.error|proto_to_json }}</pre>
                        {% else %}
                        <pre class="text-muted">None</pre>
                        {% endif %}
                    </div>
                </div>
                <div class="col col-6">
                    <div class="card">
                        <h2 class="card-header">{% trans "Change Set" %}</h2>
                        <pre  style="max-height: 300px; overflow-y: auto;">{{ row.record.change_set|proto_to_json }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
{% empty %}
{% if table.empty_text %}
<tr>
    <td colspan="{{ table.columns|length }}" class="text-center text-muted">&mdash; {{ table.empty_text }} &mdash;</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
{% if table.has_footer %}
<tfoot>
<tr>
    {% for column in table.columns %}
    <td>{{ column.footer }}</td>
    {% endfor %}
</tr>
</tfoot>
{% endif %}
</table>
