{% extends 'generic/_base.html' %}
{% load i18n %}

{% block title %}{% trans "Setup" %}{% endblock %}

{% block content %}

<div class="alert alert-warning mt-3" role="alert">
    <h4 class="alert-heading">{% trans "Important" %}</h4>
    <p>{% trans "The following Diode users and API keys are required for the plugin to work correctly. If the field is disabled, it means it's been pre-populated with detected pre-defined API keys." %}</p>
    <p>{% trans "Please ensure you click the \"Create\" button to make these users and their API keys active." %}</p>
</div>

<div class="tab-pane show active" id="setup-form" role="tabpanel" aria-labelledby="setup-tab">
    <form action="" method="post" enctype="multipart/form-data" class="object-edit mt-5">
        {% csrf_token %}

        <div class="row">
            <h2 class="col-9 offset-3">{% trans "Diode users and API Keys" %}</h2>
        </div>

        <div id="form_fields" hx-disinherit="hx-select hx-swap">
            {% block form %}
            {% include 'htmx/form.html' %}
            {% endblock form %}
        </div>

        <div class="text-end my-3">
            {% block buttons %}
            <button type="submit" name="_update" class="btn btn-primary">
                {% trans "Create" %}
            </button>
            {% endblock buttons %}
        </div>
    </form>
</div>
{% endblock content %}

