# IntelliJ
.idea/

# VS Code
.vscode

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
.eggs/
*.egg-info

# Docker
docker/coverage
!docker/common/netbox/env
!docker/*/netbox/env
docker/oauth2/secrets/*
!docker/oauth2/secrets/.gitkeep
